<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin Panel</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../public/ckeditor/plugins/higlight/styles/monokai.min.css"
    />
    <link href="/css/admin-styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark w-100">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3" href="/admin">Admin Dashboard</a>
      <!-- Sidebar Toggle-->
      <button
        class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
        id="sidebarToggle"
        href="#!"
      >
        <i class="fas fa-bars"></i>
      </button>
      <!-- Navbar Search-->
      <form
        class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
      >
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            placeholder="Search for..."
            aria-label="Search for..."
            aria-describedby="btnNavbarSearch"
          />
          <button class="btn btn-primary" id="btnNavbarSearch" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      <!-- Navbar-->
      <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><%= user.username %> <i class="fas fa-user fa-fw"></i
          ></a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li><a class="dropdown-item" href="#!">Settings</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <a class="nav-link" href="/"> Get back to the app </a>

              <div class="sb-sidenav-menu-heading">Users:</div>
              <a class="nav-link" href="/admin/allUsers"> List of all users </a>
              <a class="nav-link" href="/admin/users/addForm"> Add new user </a>

              <div class="sb-sidenav-menu-heading">Blogs</div>
              <a class="nav-link" href="/admin/allBlogs"> All blogs </a>
              <a class="nav-link" href="/admin/blogs/addForm"> Add new blog </a>

              <div class="sb-sidenav-menu-heading">Comments</div>
              <a class="nav-link" href="/admin/allComments"> All comments </a>

              <div class="sb-sidenav-menu-heading">Likes and Dislikes</div>
              <a class="nav-link" href="/admin/allLikesDislikes">
                All likes & dislikes
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content"><%- body %></div>
    </div>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/plugins/higlight/es/highlight.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/scripts.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      CKEDITOR.replace("content", {
        allowedContent: true,
        autoParagraph: false,
        extraPlugins:
          "codesnippet,ajax,autogrow,zoom,richcombo,floatpanel,panel,listblock,button,emoji,autocomplete,textwatcher,textmatch",
        codeSnippet_theme: "monokai",
      });
    </script>
  </body>
</html>
