<h1 class="text-center m-5">Add blog</h1>
<form method="post" action="/blogs/add">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" />
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select name="category" id="category" class="form-control">
      <% categories.forEach(category => {%>
      <option value="<%= category.id  %>"><%= category.name %></option>
      <%}); %>
    </select>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea
      name="content"
      class="form-control"
      id="content"
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
  <a href="/blogs" class="btn btn-danger">Cancel</a>
</form>
