<div class="blogs">
  <h1 class="fs-1">My Blogs</h1>

  <% blogs.forEach(blog => { %>
  <div class="blog-item">
    <p><b>Title: </b><%= blog.title %></p>
    <p><b>Content: </b><%= blog.content %></p>
    <p>
      <b>Created: </b>
      <span class="timestamp" data-createdAt="<%= blog.createdat %>"></span>
    </p>
  </div>
  <% }); %>
</div>
