<h1 class="fs-1 text-center m-5">Detail blog view</h1>

<div class="detail-wrapper">
  <div class="left-container">
    <h3>Title: <%= blog.title %></h3>
    <p>
      <b>Created: </b>
      <span class="timestamp" data-createdAt="<%= blog.createdat %>"></span>
    </p>
  </div>
  <div class="right-container">
    <p class="mb-0">Content: <%= blog.content %></p>
  </div>
</div>
