<div class="container w-50">
    <h1 class="text-center mt-5">Edit category</h1>

    <div class="category--wrapper">
      <form method="post" action="/admin/categories/<%= category.id %>/edit">
        <div class="mb-3">
          <label for="fname" class="form-label">Category Name: </label>
          <input
            type="text"
            class="form-control"
            id="catname"
            name="catname"
            value="<%= category.name %>"
          />
        </div>

          <button type="submit" class="btn btn-primary">Edit</button>

      </form>
    </div>
  </div>
</div>
</div>
