<h1 class="fs-1 mt-5 mb-5 text-center">Welcome to my blog</h1>
<h2>Latest posts:</h2>
<div class="latest-blogs">
  <% blogs.forEach(blog => { %>
  <div class="blog">
    <h3><%= blog.title %></h3>
    <p>
      <span class="timestamp" data-createdAt="<%= blog.createdat %>"></span>
    </p>
    <div class="d-flex">
      <p><%= blog.like_count %> likes and <%= blog.dislike_count %> dislikes</p>
    </div>
  </div>
  <% }); %>
</div>
