.blogs {
  list-style: none;
  padding: 0;
  font-family: "Arial", Times, serif;
}

.timestamp {
  font-size: 1rem;
  color: #718093;
}

.blogs h1 {
  text-align: center;
  margin: 20px 0;
}

.blogs .blog-item {
  padding: 10px 20px;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogs .blog-item > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogs .blog-item > div > div {
  display: flex;
  align-items: center;
}

.blogs .blog-item .blog-title {
  display: flex;
  justify-content: start;
  margin: 0;
}

.blogs .blog-item:last-child {
  margin: 0;
}

.blogs .blog-item p {
  margin: 0;
  height: auto;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin: 5px 10px 5px 0;
}

.detail-wrapper {
  width: 70%;
  margin: 0 auto;
}

.detail-wrapper img {
  width: 100%;
}

.left-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-container .title {
  margin-bottom: 0;
}

.left-container > div {
  width: 100%;
}

.left-container > div > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.no-blogs {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchResult {
  padding: 10px 20px;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchResult > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchResult > div > div {
  display: flex;
}

.right-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 12px;
}

.categories-wrapper {
  margin-top: 50px;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.categories-wrapper .category {
  margin: 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
}

.blog_category {
  font-size: 1rem;
}
