/* Navbar */
#searchInput {
  position: relative;
}

#searchInput > button {
  position: absolute;
}
.search-btn__wrapper {
  position: relative;
}

/* Blogs page styles */
.content-wrapper {
  display: flex;
  width: 100%;
}

.categories {
  flex: 1;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories > h3 {
  margin: 10px 0;
  text-align: center;
}

.blogs {
  list-style: none;
  padding: 0;
  font-family: "Arial", Times, serif;
  flex: 4;
}

.blogs h1 {
  text-align: center;
  margin: 20px 0;
}

.blogs .blog-item {
  padding: 10px 20px;
  font-size: 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.blogs .blog-item:last-child {
  margin: 0;
}

.blogs .blog-item > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogs .blog-item .blog-title {
  display: flex;
  justify-content: start;
  margin: 0;
}

.blogs .blog-item > div > div {
  display: flex;
  align-items: center;
}

.blogs .blog-item p {
  margin: 0;
  height: auto;
}

.timestamp,
.postedBy {
  font-size: 1rem;
  color: #718093;
}

.postedBy > a {
  color: #718093;
}

.blog_category {
  font-size: 1rem;
  color: #718093;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin: 5px 10px 5px 0;
}

.like-dislike > div {
  margin-top: 20px;
}

.like-dislike > div > form > button {
  border-radius: 10px;
  padding: 0 15px;
}

.like-dislike > div > form:first-child > button {
  margin-right: 10px;
}

.latest-posts {
  flex: 1;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-posts > h3 {
  text-align: center;
  margin: 10px 0;
}

.latest-posts > h6 {
  margin: 0;
}

.latest-posts > h6 > a {
  text-decoration: none;
}

.latest-posts > div > p {
  font-size: 0.9rem;
  color: gray;
}

.no-blogs {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Detail blog page styles */
.detail-wrapper {
  width: 80%;
  margin: 0 auto;
}

.left-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-container .title {
  margin-bottom: 0;
}

.left-container > div {
  width: 100%;
}

.left-container > div > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.right-container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 12px;
}

/* Search blog page styles */
.searchResult {
  padding: 10px 20px;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchResult > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchResult > div > div {
  display: flex;
}

/* Categories page styles */

.categories-wrapper {
  margin-top: 50px;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.categories-wrapper .category {
  margin: 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
}

/* Navbar styles */

.logged-user {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  justify-content: end;
}

/* Login & Register page */

.login--wrapper,
.register--wrapper,
.profile--wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login--wrapper > .form--wrapper,
.register--wrapper > .form--wrapper,
.profile--wrapper > .form--wrapper {
  width: 40%;
  height: auto;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.login--wrapper > .form--wrapper > h1,
.register--wrapper > .form--wrapper > h1,
.profile--wrapper > .form--wrapper > h1 {
  text-align: center;
  color: #333;
  margin-bottom: 60px;
}

.login--wrapper > .form--wrapper > form input[type="text"],
.login--wrapper > .form--wrapper > form input[type="password"],
.register--wrapper > .form--wrapper > form input[type="text"],
.register--wrapper > .form--wrapper > form input[type="password"],
.profile--wrapper > .form--wrapper > .profile--info > form input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
}

.login--wrapper > .form--wrapper > form input[type="text"]:focus,
.login--wrapper > .form--wrapper > form input[type="password"]:focus,
.register--wrapper > .form--wrapper > form input[type="text"]:focus,
.register--wrapper
  > .form--wrapper
  > form
  input[type="password"]:focus
  .profile--wrapper
  > .form-wrapper
  > form
  > input[type="text"]:focus {
  border-color: #007bff;
}

.login--wrapper > .form--wrapper > form > button,
.register--wrapper > .form--wrapper > form > button,
.profile--wrapper > .form--wrapper > .profile--info > form > button {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login--wrapper > .form--wrapper > form > button:hover,
.register--wrapper > .form--wrapper > form > button:hover,
.profile--wrapper > .form--wrapper > .profile--info > form > button:hover {
  background-color: #0056b3;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-input {
  padding-left: 40px;
  width: 100%;
}

.icon-button {
  background: none;
  border: none;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* For delete */
/* Reset default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Content Wrapper */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* Categories Section */
.categories {
  flex: 0 0 18%;
  /* padding-right: 1.5rem; */
}

.category {
  margin: 0.5rem 0;
  font-weight: bold;
  color: #777;
}

/* Blogs Section */
.blogs {
  flex: 0 0 64%;
  padding: 0 1.5rem;
}

.blog-item {
  background-color: #fff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.blog_category {
  color: #666;
  margin-top: 0.5rem;
}

.blog {
  margin: 0.5rem 0;
}

/* Links */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* Buttons */
.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:focus {
  outline: none;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .categories,
  .blogs,
  .latest-posts {
    flex: 100%;
  }
}

/* Comments section */
.comment {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 0;
  margin-bottom: 20px;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #777;
}

.right--part {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.leave-comment__section {
  margin-top: 60px;
}

.leave-comment__section > form > textarea {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Dashboard styles */
.form--wrapper {
  position: relative;
}

.form--wrapper .block-form {
  position: absolute;
  right: 1%;
  top: 1%;
}
