.blogs {
  list-style: none;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

.blogs h1 {
  text-align: center;
  margin: 20px 0;
}

.blogs .blog-item {
  padding: 10px 20px;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
}

.blogs .blog-item:last-child {
  margin: 0;
}

.blogs .blog-item p {
  margin: 0;
  height: auto;
}

.ckeditor-content {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.ckeditor-content p {
  margin: 0 0 10px;
}

.ckeditor-content b {
  font-weight: bold;
}

.ckeditor-content span {
  display: block;
  margin-top: 5px;
  display: flex;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin: 5px 10px 5px 0;
}

.detail-wrapper {
  /* display: flex; */
  width: 100%;
  /* text-align: center; */
}

.no-blogs {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
