@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #F4FAFF;
  --foreground: #08090A;
  --card: #F4FAFF;
  --card-foreground: #08090A;
  --popover: #F4FAFF;
  --popover-foreground: #08090A;
  --primary: #7CC6FE; 
  --primary-foreground: #08090A;
  --secondary: #8789C0;
  --secondary-foreground: #F4FAFF;
  --muted: #F4FAFF;
  --muted-foreground: #8789C0;
  --accent: #5DFDCB;
  --accent-foreground: #08090A;
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: #8789C0; 
  --ring: #7CC6FE; 
  --chart-1: #5DFDCB; 
  --chart-2: #7CC6FE; 
  --chart-3: #8789C0; 
  --chart-4: #5DFDCB; 
  --chart-5: #7CC6FE; 
  --sidebar: #F4FAFF; 
  --sidebar-foreground: #08090A; 
  --sidebar-primary: #7CC6FE; 
  --sidebar-primary-foreground: #08090A; 
  --sidebar-accent: #5DFDCB; 
  --sidebar-accent-foreground: #08090A; 
  --sidebar-border: #8789C0; 
  --sidebar-ring: #7CC6FE; 
}

.dark {
  --background: #08090A;
  --foreground: #F4FAFF;
  --card: #08090A;
  --card-foreground: #F4FAFF;
  --popover: #08090A;
  --popover-foreground: #F4FAFF;
  --primary: #7CC6FE;
  --primary-foreground: #08090A;
  --secondary: #8789C0;
  --secondary-foreground: #F4FAFF;
  --muted: #08090A;
  --muted-foreground: #8789C0;
  --accent: #5DFDCB;
  --accent-foreground: #08090A;
  --destructive: oklch(0.704 0.191 22.216);
  --border: rgba(135, 137, 192, 0.2);
  --input: rgba(135, 137, 192, 0.3);
  --ring: #7CC6FE;
  --chart-1: #5DFDCB; 
  --chart-2: #7CC6FE; 
  --chart-3: #8789C0;
  --chart-4: #5DFDCB;
  --chart-5: #7CC6FE;
  --sidebar: #08090A;
  --sidebar-foreground: #F4FAFF;
  --sidebar-primary: #7CC6FE;
  --sidebar-primary-foreground: #08090A;
  --sidebar-accent: #5DFDCB;
  --sidebar-accent-foreground: #08090A;
  --sidebar-border: rgba(135, 137, 192, 0.2);
  --sidebar-ring: #7CC6FE;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
